<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
    <link rel="stylesheet" type="text/css" href="/bulma/css/bulma.css">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="/js/public.js"></script>
  </head>
  <body>
    <div class="container">
    <h1 class="is-size-1">welcome to BattleRole</h1>
        <div class="tile is-ancestor">
    <% for(let i in characters) { %>
        <div class="tile is-parent">
            <article class="tile is-child box">
            <p class="title"><%= characters[i].name %></p>
            <p class="subtitle">Priority <%= characters[i].priority %></p>
            <div class="button">Downed</div>
            </article>
        </div>
    <% } %>
        </div>
</div>
  </body>
</html>