<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
    <link rel="stylesheet" type="text/css" href="/bulma/css/bulma.css">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="/js/public.js"></script>
  </head>
  <body>
    <div class="container">
        <h1 class="is-size-1">welcome to BattleRole</h1>
        <div id="origin">
        </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="footer has-background-black">
        <div id="all">
            <div class="tile is-ancestor">
                <% for(let i in allCharacters) { %>
                <div class="tile is-parent">
                    <article class="tile is-child box">
                    <p class="title"><%= allCharacters[i].name %></p>
                    <div class="button">Add to fight</div>
                    </article>
                </div>
                <% } %>
            </div>
        </div>
    </div>
  </body>
</html>