<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
    <link rel="stylesheet" type="text/css" href="/bulma/css/bulma.css">
  </head>
  <body>
    <div class="container">
    <h1 class="is-size-1">welcome to BattleRole</h1>
            <div class="tile is-ancestor">
        <div class="tile is-parent">
            <article class="tile is-child box">
            <p class="title">One</p>
            <p class="subtitle">Subtitle</p>
            </article>
        </div>
        <div class="tile is-parent">
            <article class="tile is-child box">
            <p class="title">Two</p>
            <p class="subtitle">Subtitle</p>
            </article>
        </div>
        <div class="tile is-parent">
            <article class="tile is-child box">
            <p class="title">Three</p>
            <p class="subtitle">Subtitle</p>
            </article>
        </div>
        <div class="tile is-parent">
            <article class="tile is-child box">
            <p class="title">Four</p>
            <p class="subtitle">Subtitle</p>
            </article>
        </div>
        </div>
</div>
  </body>
</html>